.site-title {
    margin-top: 204px;
    margin-left: 103px;

    .site-title-comment {
        margin-top: 21px;
        font-size: 34px;
        font-weight: 300;
        line-height: 1.32;
        letter-spacing: 0.5px;
        color: $BaseHigh;
    }
}

