* {
    font-family: 'NotoSansDisplay', sans-serif;
}

$BaseHigh:#1a181b;
$BaseMediumHigh:rgba(26, 24, 27, 0.8);
$BaseMedium: rgba(26, 24, 27, 0.6);
$BaseMediumLow:rgba(26, 24, 27, 0.4);
$BaseLow:rgba(26, 24, 27, 0.2);

$AltHigh:#ffffff;
$AltMediumHigh:rgba(255, 255, 255, 0.8);
$AltMedium:rgba(255, 255, 255, 0.6);
$AltMediumLow:rgba(255, 255, 255, 0.4);
$AltLow:rgba(255, 255, 255, 0.2);

$ListAccentHigh:rgba(255, 67, 101, 0.7);
$ListAccentMedium:rgba(255, 67, 101, 0.6);
$ListAccentLow:rgba(255, 67, 101, 0.4);

$ListHigh:rgba(26, 24, 27, 0.2);
$ListLow:rgba(26, 24, 27, 0.1);

$Primary:#ff4365;
$Default:#ffffff;
$Default-border:rgba(26, 24, 27, 0.1);

$Accesorry:#2ec4b6;

.ola-bg-black {
    background-color: #1a181b;
}

.ola-bg-yellow {
    background-color: #e1bc29;
}

.ola-bg-blue {
    background-color: #7a6f9b;
}

.font-black{
    color: #1a181b;
}

