.nav-link {
    font-size: 15px;
    color: $BaseHigh !important;
    line-height: 1.4;
    padding-top: 15px;
}

.dropdown-menu {
    border: solid 1px $Default-border;
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 18px;
}

.dropdown-item {
    font-size: 15px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    color: $BaseHigh;
    &:hover {
        background: #ddd;
    }
}

.nav-item.active .nav-link {
    color: $Primary !important;
}