
$margin-bottom:104px;

.activated-ad-item {
    .ad-description {
        height:150px;
        overflow: hidden;
    }
    margin-bottom: 64px;
}

.advertise-block {
    margin-bottom: $margin-bottom - 64px;
    margin-top:125px;
}

.startable-block {
    margin-bottom: $margin-bottom;
}

.community-result-bock {
    margin-bottom: $margin-bottom;
}
.ad-bussiness-submission-block{
    margin-bottom: $margin-bottom;
}