.booking-card{
    width:288px;
    .card-picture{
        height:108px;
        margin-bottom:16px;
    }
    .title{
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #1a181b;
        width:201px;
        margin-bottom:12px;
    }
    .description{
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.62;
        letter-spacing: normal;
        color: rgba(26, 24, 27, 0.8);
    }
    .date {
        float:right;
        text-align: right;
        width:150px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: rgba(26, 24, 27, 0.6);
    }
    .total-price {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: rgba(26, 24, 27, 0.8);
        margin-right:8px;
    }
    .price-container{
        margin-bottom:21px;
    }

    .title-container{
        position: relative;
    }

    .ordered-check{
        position: absolute;
        right:0px;
        top:11px;
        .checkbox{
            float: right;
            display: table !important;
        }
    }
    margin-bottom:32px !important;
}