
$margin-bottom:64px;

.business-support{
    .f-b-support-block {
        margin-top:125px;
        margin-bottom: 64px;
    }
    .business-benifit-block{
        margin-bottom:64px;
    }
    .signup-banner-block{
        margin-bottom:64px;
    }
    .post-block {
        margin-bottom:64px;
    }

}