.card-container {
    margin-bottom:19px;
    position: relative;
    .off-ticket{
        width: 83px;
        height: 32px;
        background-color: #2ec4b6;
        position: absolute;
        top:0px;
        left: 0px;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 32px;
        letter-spacing: normal;
        color: #ffffff;
        text-align: center;
    }
    .card-picture {
        width: 100%;
        object-fit: cover;
    }
    .category {
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        margin-top: 12px;
        color: rgba(26, 24, 27, 0.6);
    }
    .title-container {
        margin-top: 6px;
        height: 54px;
        .title{
            float: left;
            width: 240px;
            font-size: 18px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #1a181b;
            color: var(--dark);
        }
        .verified {
            float: right;
            width: 24px;
            height: 24px;
        }    
    }
    .rating-container {
        clear: both;
        margin-left: -4px;
        display: inline-flex;
        align-items: center;
        .rating-star {
            width: 24px;
            height: 32px;
            object-fit: contain;
        }
        span {
            margin-left: 6px;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.6);
        }
    }
    .location-container {
        .address {
            margin-left: 8px;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: normal;
            color: #1a181b;
            color: var(--dark);
        }
        .distance {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.6);
        }
    }
    .price-container {
        margin-top: 8px;
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #1a181b;
        display: inline-flex;
        align-items: center;
        .before-price {
            color: rgba(26, 24, 27, 0.4);
            text-decoration: line-through;
        }
        .current-price {
            margin-left:4px;
        }
        .expire-day {
            margin-left: 8px;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.8);
        }
    }
    .available-color-container{
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(26, 24, 27, 0.6);
        .title {
            margin-right: 6px;
        }
    }
    .ships-days-container{
        align-items: center;
        margin-top:8px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(26, 24, 27, 0.6);
        .title {
            margin-right: 6px;
        }
    }

    .friends-container {
        margin-top:8px;
        height: 48px;
        display: inline-flex;
        align-items: center;
        width:100%;
        border-top: solid 1px rgba(26, 24, 27, 0.03);
        &>div{
            display: inline-flex;
            align-items: center;
            width:100%;
        }

        .friend-picture {
            margin-left: -12px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: solid 2px #ffffff;
            &:first-child{
                margin-left: 0px;
            }
            &:hover {
                width: 36px;
                height: 36px;
                z-index: 10 ;
            }
        }
        
        .friend-count {
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: #1a181b;
            color: var(--dark);
            margin-left:8px;
            margin-right:2px;
        }
        .friend-here {
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.8);
        }
        .follow {
            float: right;
        }
        .wishlist_add{
            float: right;
        }
    }
  }

  .view-all-list-link{
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #1a181b;
    vertical-align: middle;
    text-decoration: none;
    margin-top:44px;
    display: inline-flex;
    align-items: center;
  }