.features{
    margin-top:125px;
    &>.title {
        font-size: 34px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: 0.5px;
        color: #1a181b;
        margin-bottom:8px;
    }
    .comment {
        margin-bottom: 45px;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.7;
        letter-spacing: 0.3px;
        color: #1a181b;
    }
}
