.footer-header {
    display: table !important;
    margin-bottom:64px;
    width: 100%;
    .footer-logo{
        vertical-align: middle;
        display: table-cell;
    }
    .footer-button-groups {
        vertical-align: middle;
        display: table-cell;
        text-align: right;
        li{
            display: inline-block;
        }
        button {
            margin-left:22px;
        }
    }
    
}

.footer-body {
    margin-bottom: 64px;
    .footer-list-title {
        font-size: 15px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        color: #1a181b;
        margin:4px 0;
    }
    .footer-list-conent {
        li {
            font-size: 13px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #1a181b;
            margin:4px 0;
            .social-icon{
                img{
                    width:24px;
                }
                margin-right:18px;
            }
        }
    }
    .connect-us {
        display: table;
        // float: right;
        .footer-list-title{
            margin-bottom:8px;
        }
        li{
            margin-bottom: 6px;
        }
    }
}

.footer-footer {
    height: 48px;
    display: table;
    width:100%;
    .site-mark {
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #1a181b;
    }
    .site-terms-service {
        display: table-cell;
        vertical-align: middle;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #1a181b !important;
        text-align: right;
    }
}

.signup-footer-container{
    .Progress-Bar {
        height: 4px ;
    }
    .signup-footer {
        margin-top: 4px ;
        width:100%;
        height: 64px;
        .step-title {
            font-family: NotoSansDisplay;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.4);
        }
    }
}