.forbusiness{
    margin-top:68px;
    .image-header {
        // height:564px;
        margin: 0 -120px;
        padding-left: 120px;
    }

    .body{
        margin-top:88px;
        margin-bottom:64px;

        .discover-benefit-block{
            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:24px;
            }
            .comment {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                // width:820px;
                margin-bottom: 44px;
            }
        }
        .local-business-block{
            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:24px;
            }
            .comment {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                width:742px;
                margin-bottom: 44px;
            }
            margin-bottom:-64px;
        }

        .blog-list{
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
            // margin:0 -20px 0 -20px;
        }

        .blog {
            display: table;
            -webkit-box-flex:0;
            // margin:0 20px 0 20px;
            .image{
                display: block;
                width: inherit;
                overflow: hidden;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                margin-bottom:16px;
            }
            .image.no-title{
                margin-bottom:16px !important;
            }
            &>.title {
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #1a181b;
            }
            .description{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                max-width: 940px;
            }
            margin-bottom:64px;
        }


    }

    .how-it-works-for-business{
        float:left;
        &>.title{
            font-size: 34px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.32;
            letter-spacing: 0.5px;
            color: #ffffff;
            margin-top:35px;
        }
        &>.comment {
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.7;
            letter-spacing: 0.3px;
            color: #1a181b;
            margin-top:8px;
            margin-bottom: 12px;
        }
        &>.description{
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #ffffff;
            width:520px;
        }
    }

}