.formembers{
    .image-header {
        margin:64px -120px 88px;
        height:362px;
        
        .how-it-works-for-members{
            margin-top:24px;
            box-sizing: border-box;
            padding:35px 100px 44px 120px;
            background: #fff;   
            // width:800px;

            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:8px;
            }
            .comment {
                font-size: 20px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.7;
                letter-spacing: 0.3px;
                color: #1a181b;
                margin-bottom: 24px;
            }
            .description{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
            }
        }
    }

    .body{
        margin-top:88px;
        margin-bottom:64px;

        .local-business-block{
            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:24px;
            }
            .comment {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                width:742px;
                margin-bottom: 44px;
            }
        }
        .community-groth-result-bock{
            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:24px;
            }
            .comment {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                width:742px;
                margin-bottom: 44px;
            }
        }

        .what-is-on-me-bock{
            .title{
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:24px;
            }
            .comment {
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                width:742px;
                margin-bottom: 44px;
            }
            .header-img {
                // width: 1040px;
                height: 304px;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                margin-bottom:88px;
            }
            margin-bottom:-64px;
        }

        .blog-list{
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
            // margin:0 -20px 0 -20px;
        }

        .blog {
            display: table;
            -webkit-box-flex:0;
            // margin:0 20px 0 20px;
            .image{
                display: block;
                width: inherit;
                overflow: hidden;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                margin-bottom:16px;
            }
            .image.no-title{
                margin-bottom:16px !important;
            }
            &>.title {
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #1a181b;
            }
            .description{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
            }
            margin-bottom:64px;
        }


    }


}