@import "choose_another_booking.scss";
@import "help-topic-category-item.scss";

.help-page{
    .booking-block{
        &>.title{
            font-size: 34px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.32;
            letter-spacing: 0.5px;
            color: #1a181b;
            margin-top:88px;
            margin-bottom:32px;
        }
        .booking-body {
            display: inline-flex;
    
            .booking-action-buttons {
                margin-left:44px;
                .btn {
                    width:200px;
                    display: table;
                    margin-bottom: 12px;
                }
                margin-bottom:60px;
            }

            
        }
    }

    .choose-another-booking{
        margin-top:60px;
        a {
            display: inline-flex;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #1a181b;
            text-decoration: none;
            img{
                margin-top: 2px !important; 
            }
        }
    }

    .suggested-topic-block {
        margin-top:104px;
        &>.title {
            font-size: 34px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.32;
            letter-spacing: 0.5px;
            color: #1a181b;
            margin-bottom:24px;
        }
        .search-top-result {
            margin-top:44px;
        }
    }

    .still-help-block{
        margin-top: 104px;
        .title{
            font-size: 34px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.32;
            letter-spacing: 0.5px;
            color: #1a181b;
            margin-bottom: 12px;
        }
        .description{
            width: 480px;
            height: 100px;
            font-family: NotoSansDisplay;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #1a181b;
            margin-bottom: 44px;
        }
        margin-bottom: 64px;
    }

}