.help-topic {
    .nav-header{
        margin-top:32px;
        
        a {
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #1a181b;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            img {
                margin-right: 6px;
            }

        }
    }

    .help-topic-menu{
        width: 296px;
        .title{
            font-size: 20px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.7;
            letter-spacing: 0.3px;
            color: #1a181b;
            margin-bottom: 24px;
        }
    }

    .help-topic-content {
        width: 680px;
        .block-h{
            .title {
                font-size: 34px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.32;
                letter-spacing: 0.5px;
                color: #1a181b;
                margin-bottom:32px;
                text-decoration: none;
            }
            .description{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
            }
            margin-bottom: 64px;
        }
        .block-b{
            .title{
                font-size: 24px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
                margin-bottom: 8px;
            }
            .description{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.67;
                letter-spacing: normal;
                color: #1a181b;
            }
            margin-bottom: 24px;
        }
    }

    .help-topic-wrapper{
        margin-top:64px;
        display: inline-flex;
    }

    .give-feedback-block{
        margin-top: 104px;
        a {
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #ff4365;
            text-decoration: none;
        }
    }
}