.news-page-header{
    margin-left:-120px;
    margin-right:-120px;
    padding-left:120px;
    padding-right:120px;
    box-sizing: border-box;
    z-index: 10;
    background:#fff;
    .ola-navbar {
        height:64px;
        z-index: 10;
        .nav-link {
            color: #1a181b !important;
        }
        .nav-item.active{
            .nav-link {
                color: #1a181b !important;
            }
        }

        .message-group{
            margin-left:24px;
            margin-top:3px;
            position: relative;
        }

        .shoping-card{
            margin-left:26px;
            margin-top:3px;
            position: relative;
        }

        .user-option{
            display: inline-flex;
            margin-left:24px;
            .user-img{
                width:32px;
                height:32px;
                border-radius: 50%;
                border:solid 2px #fff;
            }
            .dropdown-icon {
                margin-left:8px;
            }

        }
    }
    .menu-bar{
        display: inline-flex;
    }
}