.news-page{
    margin-top: 64px ;

    .image-header{
        height:432px;
        box-sizing: border-box;
        width: 1280px;
        margin: 0 -120px;
        overflow: hidden;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
    }
    .news-page-wrapper{
        margin-left:240px;
        width: 640px;
        padding-top:32px;
        .help-page-nav-item{
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #1a181b;
            display: flex;
            align-items: center;
            text-decoration: none;
            img{
                margin-right:6px;
            }
        }
        .page-title{
            margin-top:44px;
            font-size: 34px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.32;
            letter-spacing: 0.5px;
            color: #1a181b;
        }
        .nav-path {
            display: flex;
            margin-top:24px;
            &>.nav-path-item{
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: rgba(26, 24, 27, 0.4);
                &:after{
                    content: "/";
                    margin-left:3px;
                    margin-right:3px;
                }
                &:last-child{
                    color:#ff4365;
                    &::after{
                        content: unset;
                    }
                }
            }
        }
        .date-tags{
            display: flex;
            align-items: center;
            margin-top:32px;
            .ola-oval-4{
                margin:5px;
            }
            .date{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                letter-spacing: normal;
                color: #1a181b;
            }
            .tags-group{
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                letter-spacing: normal;
                color: rgba(26, 24, 27, 0.4);
            }
        }

        .kind-subkind{
            display: flex;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.17;
            letter-spacing: normal;
            color: rgba(26, 24, 27, 0.6);
            span {
                margin-right:2px;
            }
            margin-top:12px;
            margin-bottom:24px;
        }
        .description{
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: #1a181b;
        }
        .description-image{
            width: 100%;
            height:340px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-top:64px;
            margin-bottom:64px;

        }
    }
}