/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}
.tree-menu-item{
    padding-top:10.2px;
    padding-bottom: 12.8px;
}
.tree-view_item {
    align-items: center;
    
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #1a181b;
    &:hover{
        background-color: rgba(26, 24, 27, 0.1);
    }
    &:active{
        background-color: rgba(26, 24, 27, 0.1);
    }
  /* immediate child of .tree-view, for styling convenience */
}

/* style for the children nodes container */
.tree-view_children {
//   padding-left: 16px;
}

.tree-view_children-collapsed {
  height: 0px;
}

.tree-view_arrow {
    float: left;
    margin-right:18px;
    // margin-left:-2px;
    margin-top:10px;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tree-view_arrow:after {
  content: '-';
}

/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
//   -webkit-transform: rotate(-90deg);
//   -moz-transform: rotate(-90deg);
//   -ms-transform: rotate(-90deg);
//   transform: rotate(-90deg);
}
// .tree-view_children {
//     &>.tree-view_item{
//         padding-left: 52px;
//     }
//     .tree-view_item{
//         padding-left:14px;
//     }
//     .tree-view_children {
//         .tree-view_item{
//             padding-left:60px;
//         }
//         .tree-view_children {
//             .tree-view_item{
//                 padding-left:97px;
//             }
//         }
//     }
// }
// .tree-menu {
//     &>.tree-view_item{
//         padding-left:14px;
//     }
// }