.review-header-container{
    display: inline-flex;
    align-items: center;
    .review-img{
        width:48px;
        height:48px;
    }
    .review-content{
        margin-left:12px;
        .title{
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.6;
            letter-spacing: normal;
            color: #1a181b;
        }
        .rating-container {
            clear: both;
            margin-left: -4px;
            display: inline-flex;
            align-items: center;
            .rating-star {
                width: 14px;
                height: 24px;
                object-fit: contain;
            }
            span {
                margin-left: 6px;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.17;
                letter-spacing: normal;
                color: rgba(26, 24, 27, 0.6);
            }
        }
    }
    .img-more {
        margin-top: -24px ;
    }
}
