.marginTop-6 {
    margin-top: 6px ;
}
.marginTop-12 {
    margin-top: 12px ;
}
.marginTop-30{
    margin-top: 30px ;
}
.marginTop-44 {
    margin-top: 44px ;
}
.marginTop-24 {
    margin-top: 24px ;
}

.close {
    float: left !important;
    margin: -1rem auto -1rem -1rem !important;
    // padding: 10px 15px 0 0 !important;
}

.sign-page {
    // max-width: 488px;
    // border: solid 1px rgba(26, 24, 27, 0.1);
    padding: 44px 88px ;
    background-color: #ffffff;
    position: relative ;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    button {
        overflow: hidden;
    }

    .text-small {
        font-size: 13px;
    }

    .separator {
        overflow: hidden ;
        span {
            position: relative ;
            padding: 0 11px ;
            font-family: NotoSansDisplay;
            line-height: 1.4;
            color: rgba(26, 24, 27, 0.4);
            &::before {
                content: "" !important;
                position: absolute !important;
                top: 50% !important;
                right: 100% !important;
                width: 5000px !important;
                border-bottom: 1px solid rgba(26, 24, 27, 0.05) !important;
            }
            &::after {
                content: "" !important;
                position: absolute !important;
                top: 50% !important;
                left: 100% !important;
                width: 5000px !important;
                border-bottom: 1px solid rgba(26, 24, 27, 0.05) !important;
            }
        }
    }
    .caption {
        color: rgba(26, 24, 27, 0.8);
    }
    .term-policy {
        font-family: NotoSansDisplay;
    }

    .security-warning-block {
        position: relative ;
        .security-warning {
            position: absolute ;
            padding: 4px 9px ;
            width: 100%;
            height: 30px;
            box-shadow: 0 2px 2px 0 rgba(126, 128, 128, 0.12), 0 0 1px 0 rgba(126, 128, 128, 0.14);
            border: solid 1px rgba(26, 24, 27, 0.1);
            background-color: #ffffff;

            color: rgba(255, 67, 101, 0.7);
        }
    }

    .title {
        font-family: NotoSansDisplay;
        font-size: 34px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: 0.5px;
        color: #1a181b;
    }

    &.reset-password {
        padding: 64px ;
        .link-block{
            .back-to-sign-in {
                height: 44px;

                font-family: NotoSansDisplay;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: #1a181b;
            }

            button {
                width: 200px !important;
            }
        }
    }

    &.signin-confirm {
        width: 688px;
        margin: 152px auto 0;
        padding: 57px 28px 44px 32px;

        font-family: NotoSansDisplay;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #1a181b;

        .image-block {
            img {
                width: 96px ;
                height: 96px ;
                border-radius: 50% ;
            }
        }
    }

    .search-img {
        margin-left: 0px ;
    }
    .friends-list {
        height: 370px ;
    }
}

.choose-friend-page {
    .import-contacts {
        font-family: NotoSansDisplay;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #1a181b;
    }
}

.disabled {
    color: rgba(26, 24, 27, 0.4);
}

.more-options-block {
    margin-bottom: 65px ;

    height: 18px;
    font-family: NotoSansDisplay;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff4365;
}

.marginTop-50 {
    margin-top: 50px ;
}