.marginTop-6 {
    margin-top: 6px ;
}
.marginTop-12 {
    margin-top: 12px ;
}
.marginTop-30{
    margin-top: 30px ;
}
.marginTop-44 {
    margin-top: 44px ;
}
.marginTop-24 {
    margin-top: 24px ;
}


.sign-page {
    margin: 200px auto 181px;
    padding: 88px ;
    padding-bottom: 44px ;
    width: 488px;
    border: solid 1px rgba(26, 24, 27, 0.1);
    background-color: #ffffff;
    position: relative ;

    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    .text-small {
        font-size: 13px;
    }

    .close {
        position: absolute ;
        top: 10px ;
        left: 15px ;
    }

    .separate-bar {
        width: 136px;
        height: 1px;
        background-color: rgba(26, 24, 27, 0.05) ;
    }
    .or {
        margin: 0 11px ;
        font-family: NotoSansDisplay;
        line-height: 1.4;
        color: rgba(26, 24, 27, 0.4);
    }
    .caption {
        color: rgba(26, 24, 27, 0.8);
    }
    .term-policy {
        font-family: NotoSansDisplay;
    }

    .security-warning-block {
        position: relative ;
        .security-warning {
            position: absolute ;
            padding: 7px 9px ;
            width: 100%;
            height: 34px;
            box-shadow: 0 2px 2px 0 rgba(126, 128, 128, 0.12), 0 0 1px 0 rgba(126, 128, 128, 0.14);
            border: solid 1px rgba(26, 24, 27, 0.1);
            background-color: #ffffff;

            color: rgba(255, 67, 101, 0.7);
        }
    }

    .title {
        font-family: NotoSansDisplay;
        font-size: 34px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.32;
        letter-spacing: 0.5px;
        color: #1a181b;
    }

    &.reset-password {
        padding: 64px ;
        .link-block{
            .back-to-sign-in {
                height: 44px;

                font-family: NotoSansDisplay;
                font-size: 15px;
                font-weight: 600;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: normal;
                color: #1a181b;
            }

            button {
                width: 200px !important;
            }
        }
    }

    &.signin-confirm {
        width: 688px;
        margin: 152px auto 0;
        padding: 57px 28px 44px 32px;

        font-family: NotoSansDisplay;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #1a181b;

        .image-block {
            img {
                width: 96px ;
                height: 96px ;
                border-radius: 50% ;
            }
        }
    }

}

.more-options-block {
    margin-bottom: 65px ;

    height: 18px;
    font-family: NotoSansDisplay;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff4365;
}