
.ola-switch{
    position: relative;
    display: table;
    .switch-bg{
        z-index: 5;
    }
    .switch-pos{
        position: absolute;
        z-index: 6;

        &.on{
            top:5px;
            right:5px;
            -webkit-transition: right 2s linear; /* Safari */
            transition: right 100ms linear
        }
        &.off{
            top:5px;
            right: 29px;
            -webkit-transition: left 2s linear; /* Safari */
            transition: right 100ms linear
        }
        ;
    }
}