.tabitem-container {
    display: inline-flex;
    align-items: center;
    align-content: center;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    width:240px;
    img {
        height: 72px;
        object-fit: contain;
        float: left;
        margin-right:8.3%;
    }
    .title {
        font-size: 15px;
        font-weight: 600;
        line-height: 72px;
    }
} 

// @media only screen and (max-width: 1246px) {
//     .tabitem-container{
//         img {
//             height: auto;
//             width:100%;
//             margin-right: unset;
//         }
//         .title {
//             width: 100%;
//             text-align: center;
//             line-height: 36px;
//         }
//     }
// }

// @media only screen and (max-width: 576px) {
//     .tabitem-container{
//         img {
//             width: auto;
//             height:72px;
//             margin-right: 8.3%;
//         }
//         .title {
//             width: unset;
//             text-align: left;
//             line-height: 72px;
//         }
//     }
// }