.card-container {
  margin-bottom: 19px;
  position: relative; }
  .card-container .off-ticket {
    width: 83px;
    height: 32px;
    background-color: #2ec4b6;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center; }
  .card-container .card-picture {
    width: 100%;
    object-fit: cover; }
  .card-container .category {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 12px;
    color: rgba(26, 24, 27, 0.6); }
  .card-container .title-container {
    margin-top: 6px;
    height: 54px; }
    .card-container .title-container .title {
      float: left;
      width: 240px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #1a181b;
      color: var(--dark); }
    .card-container .title-container .verified {
      float: right;
      width: 24px;
      height: 24px; }
  .card-container .rating-container {
    clear: both;
    margin-left: -4px;
    display: inline-flex;
    align-items: center; }
    .card-container .rating-container .rating-star {
      width: 24px;
      height: 32px;
      object-fit: contain; }
    .card-container .rating-container span {
      margin-left: 6px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: rgba(26, 24, 27, 0.6); }
  .card-container .location-container .address {
    margin-left: 8px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #1a181b;
    color: var(--dark); }
  .card-container .location-container .distance {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(26, 24, 27, 0.6); }
  .card-container .price-container {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #1a181b;
    display: inline-flex;
    align-items: center; }
    .card-container .price-container .before-price {
      color: rgba(26, 24, 27, 0.4);
      text-decoration: line-through; }
    .card-container .price-container .current-price {
      margin-left: 4px; }
    .card-container .price-container .expire-day {
      margin-left: 8px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: rgba(26, 24, 27, 0.8); }
  .card-container .available-color-container {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(26, 24, 27, 0.6); }
    .card-container .available-color-container .title {
      margin-right: 6px; }
  .card-container .ships-days-container {
    align-items: center;
    margin-top: 8px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(26, 24, 27, 0.6); }
    .card-container .ships-days-container .title {
      margin-right: 6px; }
  .card-container .friends-container {
    margin-top: 8px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-top: solid 1px rgba(26, 24, 27, 0.03); }
    .card-container .friends-container > div {
      display: inline-flex;
      align-items: center;
      width: 100%; }
    .card-container .friends-container .friend-picture {
      margin-left: -12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: solid 2px #ffffff; }
      .card-container .friends-container .friend-picture:first-child {
        margin-left: 0px; }
    .card-container .friends-container .friend-count {
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: #1a181b;
      color: var(--dark);
      margin-left: 8px;
      margin-right: 2px; }
    .card-container .friends-container .friend-here {
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.17;
      letter-spacing: normal;
      color: rgba(26, 24, 27, 0.8); }
    .card-container .friends-container .follow {
      float: right; }
    .card-container .friends-container .wishlist_add {
      float: right; }

.view-all-list-link {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #1a181b;
  vertical-align: middle;
  text-decoration: none;
  margin-top: 44px;
  display: inline-flex;
  align-items: center; }

/*# sourceMappingURL=card.css.map */
