.page-layout {
  width: 1280px;
  min-width: 320px;
  margin: auto;
  padding: 0 120px;
  box-sizing: border-box; }
  .page-layout .ola-padding {
    padding: 0 9.4%; }

.vertical-center-layout {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center; }

@media only screen and (max-width: 980px) {
  .ola-padding {
    padding: 10px !important; } }
.ola-row {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important; }
  .ola-row.rp-6 {
    margin-right: -6px !important;
    margin-left: -6px !important; }
    .ola-row.rp-6 > [class^=ola-col-] {
      padding-right: 6px;
      padding-left: 6px; }
  .ola-row.rp-20 {
    margin-right: -20px !important;
    margin-left: -20px !important; }
    .ola-row.rp-20 > [class^=ola-col-] {
      padding-right: 20px;
      padding-left: 20px; }
  .ola-row.rp-10 {
    margin-right: -10px !important;
    margin-left: -10px !important; }
    .ola-row.rp-10 > [class^=ola-col-] {
      padding-right: 10px;
      padding-left: 10px; }
  .ola-row.rp-12 {
    margin-right: -12px !important;
    margin-left: -12px !important; }
    .ola-row.rp-12 > [class^=ola-col-] {
      padding-right: 12px;
      padding-left: 12px; }
  .ola-row.rp-14 {
    margin-right: -14px !important;
    margin-left: -14px !important; }
    .ola-row.rp-14 > [class^=ola-col-] {
      padding-right: 14px;
      padding-left: 14px; }

.ola-row > [class^=ola-col] {
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box; }
.ola-row > [class^=ola-col-] {
  -webkit-box-flex: 0; }
.ola-row > .ola-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }
.ola-row > .ola-col-11 {
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }
.ola-row > .ola-col-10 {
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }
.ola-row > .ola-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }
.ola-row > .ola-col-8 {
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }
.ola-row > .ola-col-7 {
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }
.ola-row > .ola-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }
.ola-row > .ola-col-5 {
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }
.ola-row > .ola-col-4 {
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }
.ola-row > .ola-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }
.ola-row > .ola-col-2 {
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }
.ola-row > .ola-col-1 {
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.w-100 {
  width: 100%; }

.footer-layout {
  box-sizing: border-box;
  padding-top: 44px; }

.page-line {
  border: 1px;
  display: block;
  height: 1px;
  box-shadow: inset 0 1px 0 0 rgba(26, 24, 27, 0.05);
  width: 1280px;
  margin-left: -120px; }

.ola-show {
  display: inherit; }

.ola-hide {
  display: none; }

/*# sourceMappingURL=layout.css.map */
